aukw-shop/.htaccess
/aukw-shop.code-workspace
~$KW_System_Documentation_2023.docx
~$KW_Technical_Documentation_2023.docx
phpDocumentor.phar
.phpdoc/
api/uploads/
documentation/payroll_journals.json
documentation/ScratchPad.txt
ngrok.exe
documentation/
database/auew*.json
database/aukw*.json
## PHP CS Fixer cache files
.php-cs-fixer.cache
api/.phpunit.result.cache
