<h1>Payroll Accounting Entries</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mb-2">
        <div class="col-sm">
          <div class="mb-2">Tax Year</div>
          <select
            formControlName="taxYear"
            #taxYearSelect
            id="taxYearSelect"
            name="taxYearSelect"
            class="form-control box-outline"
          >
            @for (taxyear of taxyears$ | async; track taxyear) {
              <option [ngValue]="taxyear.value">
                {{ taxyear.name }}
              </option>
            }
          </select>
        </div>

        <div class="col-sm">
          <div class="mb-2">Month</div>
          <select
            formControlName="month"
            #monthSelect
            id="monthSelect"
            name="monthSelect"
            class="form-control box-outline"
            (click)="onMonthSelectClicked()"
            ngbTooltip="'Closed' pay runs only"
            placement="bottom"
          >
            @for (payrun of payruns$ | async; track payrun) {
              <option [ngValue]="payrun.taxMonth">
                {{ `Month ${payrun.taxMonth}` }}
              </option>
            }
          </select>
        </div>
        <div class="col-sm-3">
          <div class="mb-2 text-center">Payroll Date</div>
          <div class="input-group col p-0">
            <!-- If using MySql dates don't forget to import NgbUTCStringAdapter-->
            <input
              class="form-control text-end box-outline"
              name="dp1"
              ngbDatepicker
              #d1="ngbDatepicker"
              formControlName="payrollDate"
              id="inputpayrollDate"
              placement="bottom"
            />
            <div class="input-group-append box-outline rounded-corners">
              <button class="btn" (click)="d1.toggle()" type="button">
                <i class="fa-solid fa-calendar-days"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="mb-2 text-center">Sort By</div>
          <select
            formControlName="sortBy"
            #sortBySelect
            id="sortBySelect"
            name="sortBySelect"
            class="form-control box-outline"
          >
            <option value="PayrollCode">Payroll Code</option>
            <option value="LastName">Employee Surname</option>
            <option value="Department">Department</option>
          </select>
        </div>
        <div class="col-sm">
          <div class="">
            <div class="mb-3">Desc</div>
            <input
              type="checkbox"
              formControlName="sortDescending"
              class="form-check-input checkbox-outline ms-2"
              placement="bottom"
              container="body"
              id="sortDescendingCheckbox"
            />
          </div>
        </div>
        <div class="col-sm align-self-end mb-1">
          <div>Download</div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!allocations.length || loading[0] || !form.valid"
            placement="bottom"
            ngbTooltip="Download Gross-To-Net report from Staffology"
          >
            @if (loading[0]) {
              <i class="fa-solid fa-download fa-bounce fa-2x"></i>
            } @else {
              <i class="fa-solid fa-download fa-2x"></i>
            }
          </button>
        </div>
        <!-- 
        <div class="col-sm align-self-end mb-1">
          <div>Refresh</div>
          <button
            type="button"
            class="btn btn-primary"
            placement="bottom"
            ngbTooltip="Reload Everything"
            (click)="reloadEverything()"
            [disabled]="!allocations.length || loading[0] || !form.valid"
          >
            @if (loading[1]) {
              <i class="fa-solid fa-arrows-rotate fa-spin fa-2x"></i>
            } @else {
              <i class="fa-solid fa-arrows-rotate fa-2x"></i>
            }
          </button>
        </div>
        -->
        @if (showCreateTransactionsButton) {
          <div class="col-sm align-self-end mb-1">
            <div>Add to QBO</div>
            <button
              type="button"
              class="btn btn-primary"
              placement="bottom"
              ngbTooltip="Create QBO accounting entries"
              [disabled]="payslipsWithMissingEmployeesOrAllocations.length"
              (click)="createQBOEntries()"
            >
              <i class="fa-solid fa-greater-than fa-2x"></i>
            </button>
          </div>
        }
      </div>
      @if (false) {
        <pre>{{ form.value | json }}</pre>
      }
    </form>
  </div>
</div>

@if (
  payslipsWithMissingEmployeesOrAllocations &&
  payslipsWithMissingEmployeesOrAllocations.length > 0
) {
  <div class="card mt-3">
    <div class="card-body bg-warning-subtle">
      <h5 class="card-title">Employees Missing From QuickBooks</h5>
      <div class="bg-warning-subtle">
        <payslip-list
          [payslips]="payslipsWithMissingEmployeesOrAllocations"
          (employeeToAdd)="onEmployeeToAdd($event)"
        >
        </payslip-list>
      </div>
    </div>
  </div>
}
<payslips-summary
  [payslips]="payslips"
  [total]="total"
  [topClasses$]="tceByClass$"
></payslips-summary>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a
      class="nav-item nav-link"
      routerLink="/payroll"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li [ngbNavItem]="2">
    <a
      class="nav-item nav-link"
      routerLink="/payroll/journals"
      routerLinkActive="active"
      >Employee Journals</a
    >
  </li>
  <li [ngbNavItem]="3">
    <a
      class="nav-item nav-link"
      routerLink="/payroll/employerni"
      routerLinkActive="active"
      >Employer NI</a
    >
  </li>
  <li [ngbNavItem]="4">
    <a
      class="nav-item nav-link"
      routerLink="/payroll/pensions"
      routerLinkActive="active"
      >Pensions</a
    >
  </li>
  <li [ngbNavItem]="5">
    <a
      class="nav-item nav-link"
      routerLink="/payroll/enterprises"
      routerLinkActive="active"
      >Shop Transactions</a
    >
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<router-outlet></router-outlet>
